﻿@model IEnumerable<odiProject.Models.customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customer Details</h2>

<p id="refresh" >
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" >
    <tr>
        <th>
            @Html.DisplayName("Customer ID")
        </th>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
            @Html.DisplayName("Address")
        </th>
        <th>
            @Html.DisplayName("City")
        </th>
        <th>
            @Html.DisplayName("State")
        </th>
        <th>
            @Html.DisplayName("Zip Code")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customer_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zip_code)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.customer_id  }) |
            @Html.ActionLink("Details", "Details", new { id=item.customer_id  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.customer_id  })
        </td>
    </tr>
}

</table>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
  <script type="text/javascript">
    setInterval("my_function();", 5000);
    function my_function(){
      $('#refresh').load(location.href + ' #time');
    }
</script>
